<h1>Home</h1>

<h2>Bienvenido <%=@params[:name]%>, Hoy es <%=@params[:dia]%>, estamos en la clase <%=@params[:clase]%></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum. Integer enim neque volutpat ac. Auctor elit sed vulputate mi sit amet mauris. Commodo viverra maecenas accumsan lacus vel. Egestas erat imperdiet sed euismod nisi. Tortor at risus viverra adipiscing at in tellus integer. In aliquam sem fringilla ut morbi tincidunt. Vitae elementum curabitur vitae nunc. Lacinia at quis risus sed vulputate odio ut. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Venenatis cras sed felis eget velit aliquet sagittis id consectetur.</p>